<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>SIGNA | Quantum Safe Digital Signatures</title>
    <!-- Simple bar CSS -->
    @*<link rel="stylesheet" href="css/simplebar.css">*@
    <link href="~/Content/tinydash/light/css/simplebar.css" rel="stylesheet" />
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    @*<link rel="stylesheet" href="css/feather.css">*@
    <link href="~/Content/tinydash/light/css/feather.css" rel="stylesheet" />
    <!-- Date Range Picker CSS -->
    @*<link rel="stylesheet" href="css/daterangepicker.css">*@
    <link href="~/Content/tinydash/light/css/daterangepicker.css" rel="stylesheet" />
    <!-- App CSS -->
    @*<link rel="stylesheet" href="css/app-light.css" id="lightTheme">*@
    <link href="~/Content/tinydash/light/css/app-light.css" rel="stylesheet" id="lightTheme" />

    @*<link rel="stylesheet" href="css/app-dark.css" id="darkTheme" disabled>*@
    <link href="~/Content/tinydash/light/css/app-dark.css" rel="stylesheet" id="darkTheme" disabled />

    <link href="~/Scripts/SweetAlert2/sweetalert2.min.css" rel="stylesheet" />
</head>

<body class="vertical light" ng-app="SIGNAapp">
    <div class="wrapper">
        <nav class="topnav navbar navbar-light">
            <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar">
                <i class="fe fe-menu navbar-toggler-icon"></i>
            </button>
            <form class="form-inline mr-auto searchform text-muted">
                <input class="form-control mr-sm-2 bg-transparent border-0 pl-4 text-muted" type="search" placeholder="Type something..." aria-label="Search">
            </form>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link text-muted my-2" href="#" id="modeSwitcher" data-mode="light">
                        <i class="fe fe-sun fe-16"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-muted my-2" href="./#" data-toggle="modal" data-target=".modal-shortcut">
                        <span class="fe fe-grid fe-16"></span>
                    </a>
                </li>
                <li class="nav-item nav-notif">
                    <a class="nav-link text-muted my-2" href="./#" data-toggle="modal" data-target=".modal-notif">
                        <span class="fe fe-bell fe-16"></span>
                        <span class="dot dot-md bg-success"></span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted pr-0" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="avatar avatar-sm mt-2">
                            <img src="~/Content/tinydash/light/assets/avatars/face-1.jpg" alt="..." class="avatar-img rounded-circle">

                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="#">Activities</a>
                    </div>
                </li>
            </ul>
        </nav>
        <aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>
            <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
                <i class="fe fe-x"><span class="sr-only"></span></i>
            </a>
            <nav class="vertnav navbar navbar-light">
                <!-- nav bar -->
                <div class="w-100 mb-4 d-flex">
                    <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="./index.html">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" width="165" height="30" viewBox="0 0 2000 520"><g transform="matrix(1,0,0,1,-1.2121212121212466,0.29548828668407623)"><svg viewBox="0 0 396 103" data-background-color="#ffffff" preserveAspectRatio="xMidYMid meet" height="520" width="2000" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="tight-bounds" transform="matrix(1,0,0,1,0.2400000000000091,-0.058529410631649625)"><svg viewBox="0 0 395.52 103.11705882126333" height="103.11705882126333" width="395.52"><g><svg viewBox="0 0 592.028059998231 154.34919166331917" height="103.11705882126333" width="395.52"><g transform="matrix(1,0,0,1,196.508059998231,32.52915502561425)"><svg viewBox="0 0 395.52 89.29088161209067" height="89.29088161209067" width="395.52"><g id="textblocktransform"><svg viewBox="0 0 395.52 89.29088161209067" height="89.29088161209067" width="395.52" id="textblock"><g><svg viewBox="0 0 395.52 89.29088161209067" height="89.29088161209067" width="395.52"><g transform="matrix(1,0,0,1,0,0)"><svg width="395.52" viewBox="1.3 -35.45 158.79 35.85" height="89.29088161209067" data-palette-color="#3758f9"><path d="M28.35-31.85L25.9-26.9Q24-28.1 22.15-28.8 20.3-29.5 18.65-29.8 17-30.1 15.65-30.1L15.65-30.1Q13.05-30.1 11.5-29.1 9.95-28.1 9.95-26.2L9.95-26.2Q9.95-24.5 10.98-23.43 12-22.35 13.68-21.68 15.35-21 17.38-20.4 19.4-19.8 21.4-19.07 23.4-18.35 25.1-17.2 26.8-16.05 27.8-14.28 28.8-12.5 28.8-9.8L28.8-9.8Q28.8-6.7 27.1-4.42 25.4-2.15 22.43-0.9 19.45 0.35 15.6 0.35L15.6 0.35Q12.85 0.35 10.25-0.38 7.65-1.1 5.38-2.35 3.1-3.6 1.3-5.25L1.3-5.25 3.85-10.1Q5.65-8.45 7.68-7.3 9.7-6.15 11.78-5.55 13.85-4.95 15.7-4.95L15.7-4.95Q18.8-4.95 20.53-6.15 22.25-7.35 22.25-9.5L22.25-9.5Q22.25-11.25 21.23-12.33 20.2-13.4 18.53-14.1 16.85-14.8 14.83-15.35 12.8-15.9 10.78-16.63 8.75-17.35 7.08-18.45 5.4-19.55 4.38-21.3 3.35-23.05 3.35-25.75L3.35-25.75Q3.35-28.7 4.95-30.88 6.55-33.05 9.43-34.25 12.3-35.45 16.1-35.45L16.1-35.45Q19.5-35.45 22.7-34.45 25.9-33.45 28.35-31.85L28.35-31.85ZM35.7 0L35.7-35 41.6-35 41.6 0 35.7 0ZM80.09-30.4L76.75-26.35Q74.75-28.25 72.07-29.33 69.4-30.4 66.65-30.4L66.65-30.4Q63.95-30.4 61.65-29.4 59.35-28.4 57.6-26.65 55.85-24.9 54.87-22.58 53.9-20.25 53.9-17.55L53.9-17.55Q53.9-14.85 54.87-12.5 55.85-10.15 57.6-8.38 59.35-6.6 61.67-5.6 64-4.6 66.7-4.6L66.7-4.6Q69.15-4.6 71.77-5.6 74.4-6.6 76.5-8.3L76.5-8.3 79.9-4.2Q78.15-2.85 75.87-1.8 73.6-0.75 71.15-0.18 68.7 0.4 66.3 0.4L66.3 0.4Q62.4 0.4 59.07-0.98 55.75-2.35 53.22-4.8 50.7-7.25 49.3-10.53 47.9-13.8 47.9-17.55L47.9-17.55Q47.9-21.3 49.32-24.53 50.75-27.75 53.3-30.2 55.85-32.65 59.27-34 62.7-35.35 66.65-35.35L66.65-35.35Q69.15-35.35 71.57-34.75 74-34.15 76.2-33.05 78.4-31.95 80.09-30.4L80.09-30.4ZM74.75-4.2L74.75-17.1 79.9-17.1 79.9-4.2 74.75-4.2ZM88.24 0L88.24-35 94.04-35 114.29-7.25 112.79-6.75 112.79-35 118.59-35 118.59 0 112.79 0 92.59-27.7 94.14-28.2 94.14 0 88.24 0ZM123.29 0L138.74-35 144.79-35 160.09 0 153.79 0 141.59-29.05 129.44 0 123.29 0ZM130.99-8.1L130.99-13.1 151.94-13.1 151.94-8.1 130.99-8.1Z" opacity="1" transform="matrix(1,0,0,1,0,0)" fill="#3758f9" class="wordmark-text-0" data-fill-palette-color="primary" id="text-0"></path></svg></g></svg></g></svg></g></svg></g><g><svg viewBox="0 0 154.34919166331917 154.34919166331917" height="154.34919166331917" width="154.34919166331917"><g><svg></svg></g><g id="icon-0"><svg viewBox="0 0 154.34919166331917 154.34919166331917" height="154.34919166331917" width="154.34919166331917"><g><path d="M0 77.175c0-42.622 34.552-77.175 77.175-77.175 42.622 0 77.175 34.552 77.174 77.175 0 42.622-34.552 77.175-77.174 77.174-42.622 0-77.175-34.552-77.175-77.174zM77.175 146.297c38.175 0 69.122-30.947 69.122-69.122 0-38.175-30.947-69.122-69.122-69.123-38.175 0-69.122 30.947-69.123 69.123 0 38.175 30.947 69.122 69.123 69.122z" data-fill-palette-color="accent" fill="#3758f9" stroke="transparent"></path></g><g transform="matrix(1,0,0,1,34.51513954415928,34.51998932479793)"><svg viewBox="0 0 85.31891257500061 85.30921301372331" height="85.30921301372331" width="85.31891257500061"><g><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" viewBox="3.999540840779352 4.01 92.00045915922065 91.99" enable-background="new 0 0 100 100" xml:space="preserve" height="85.30921301372331" width="85.31891257500061" class="icon-cg-0" data-fill-palette-color="accent" id="cg-0"><g fill="#3758f9" data-fill-palette-color="accent"><g fill="#3758f9" data-fill-palette-color="accent"><path d="M74.43 9.02c-6.68-6.68-17.55-6.68-24.22 0l-6.12 6.11c-0.02 0.02-0.04 0.04-0.06 0.07-0.03 0.02-0.05 0.04-0.06 0.07-0.03 0.01-0.05 0.03-0.07 0.06-0.03 0.02-0.05 0.04-0.07 0.06L9.36 49.86C8.51 50.71 7.93 51.81 7.71 53L4.1 72.34c-0.36 1.95 0.26 3.95 1.66 5.34 1.13 1.14 2.66 1.76 4.24 1.76 0.37 0 0.73-0.03 1.1-0.1l19.34-3.61c1.19-0.22 2.29-0.8 3.15-1.65L67.96 39.7l0.09-0.08 6.38-6.38c3.23-3.24 5.01-7.54 5.01-12.11C79.44 16.55 77.66 12.25 74.43 9.02zM26.42 64.28l-8.92 1.66 1.67-8.91 29.16-29.17 7.25 7.25L26.42 64.28zM65.94 24.75l-1.87 1.88-7.25-7.25 1.87-1.88c2-2 5.25-2 7.25 0S67.94 22.75 65.94 24.75z" fill="#3758f9" data-fill-palette-color="accent"></path></g></g><g fill="#3758f9" data-fill-palette-color="accent"><path d="M90 96h-2.5c-5.179 0-9.892-2.029-13.387-5.334C70.674 93.968 66.007 96 60.875 96c-5.234 0-9.994-2.073-13.5-5.441C43.869 93.927 39.109 96 33.875 96H10c-3.313 0-6-2.687-6-6s2.687-6 6-6h23.875c4.136 0 7.5-3.364 7.5-7.5 0-3.313 2.687-6 6-6s6 2.687 6 6c0 4.136 3.364 7.5 7.5 7.5C64.804 84 68 80.804 68 76.875V76.5c0-3.313 2.687-6 6-6s6 2.687 6 6c0 4.136 3.364 7.5 7.5 7.5H90c3.313 0 6 2.687 6 6S93.313 96 90 96z" fill="#3758f9" data-fill-palette-color="accent"></path></g></svg></g></svg></g></svg></g></svg></g></svg></g><defs></defs></svg><rect width="395.52" height="103.11705882126333" fill="none" stroke="none" visibility="hidden"></rect></g></svg></g></svg>
                    </a>
                </div>
                <ul class="navbar-nav flex-fill w-100 mb-2">
                    <li class="nav-item dropdown">
                        <a href="#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                            <i class="fe fe-home fe-16"></i>
                            <span class="ml-3 item-text">Dashboard</span><span class="sr-only">(current)</span>
                        </a>
                        <ul class="collapse list-unstyled pl-4 w-100" id="dashboard">
                            <li class="nav-item active">
                                <a class="nav-link pl-3" href="~/Content/tinydash/light/index.html"><span class="ml-1 item-text">Default</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./dashboard-analytics.html"><span class="ml-1 item-text">Analytics</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./dashboard-sales.html"><span class="ml-1 item-text">E-commerce</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./dashboard-saas.html"><span class="ml-1 item-text">Saas Dashboard</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./dashboard-system.html"><span class="ml-1 item-text">Systems</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <p class="text-muted nav-heading mt-4 mb-1">
                    <span>Generate Keys</span>
                </p>
                <ul class="navbar-nav flex-fill w-100 mb-2">
                    <li class="nav-item dropdown">
                        <a href="#keys" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                            <i class="fe fe-key fe-16"></i>
                            <span class="ml-3 item-text">Standard Keys</span>
                        </a>
                        <ul class="collapse list-unstyled pl-4 w-100" id="keys">
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="/Key/PrivateKey"><span class="ml-1 item-text">Private Key</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./chart-chartjs.html"><span class="ml-1 item-text">Public Key</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./chart-apexcharts.html"><span class="ml-1 item-text">Key Pair</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#dynamickeys" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                            <i class="fe fe-key fe-16"></i>
                            <span class="ml-3 item-text">Dynamic Keys</span>
                        </a>
                        <ul class="collapse list-unstyled pl-4 w-100" id="dynamickeys">
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./chart-inline.html"><span class="ml-1 item-text">Private Key</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./chart-chartjs.html"><span class="ml-1 item-text">Public Key</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./chart-apexcharts.html"><span class="ml-1 item-text">Key Pair</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <p class="text-muted nav-heading mt-4 mb-1">
                    <span>Components</span>
                </p>
                <ul class="navbar-nav flex-fill w-100 mb-2">
                    <li class="nav-item dropdown">
                        <a href="#ui-elements" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                            <i class="fe fe-box fe-16"></i>
                            <span class="ml-3 item-text">UI elements</span>
                        </a>
                        <ul class="collapse list-unstyled pl-4 w-100" id="ui-elements">
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./ui-color.html">
                                    <span class="ml-1 item-text">Colors</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./ui-typograpy.html"><span class="ml-1 item-text">Typograpy</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./ui-icons.html"><span class="ml-1 item-text">Icons</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./ui-buttons.html"><span class="ml-1 item-text">Buttons</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./ui-notification.html"><span class="ml-1 item-text">Notifications</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./ui-modals.html"><span class="ml-1 item-text">Modals</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./ui-tabs-accordion.html"><span class="ml-1 item-text">Tabs & Accordion</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./ui-progress.html"><span class="ml-1 item-text">Progress</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" href="widgets.html">
                            <i class="fe fe-layers fe-16"></i>
                            <span class="ml-3 item-text">Widgets</span>
                            <span class="badge badge-pill badge-primary">New</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#forms" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                            <i class="fe fe-credit-card fe-16"></i>
                            <span class="ml-3 item-text">Forms</span>
                        </a>
                        <ul class="collapse list-unstyled pl-4 w-100" id="forms">
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./form_elements.html"><span class="ml-1 item-text">Basic Elements</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./form_advanced.html"><span class="ml-1 item-text">Advanced Elements</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./form_validation.html"><span class="ml-1 item-text">Validation</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./form_wizard.html"><span class="ml-1 item-text">Wizard</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./form_layouts.html"><span class="ml-1 item-text">Layouts</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./form_upload.html"><span class="ml-1 item-text">File upload</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#tables" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                            <i class="fe fe-grid fe-16"></i>
                            <span class="ml-3 item-text">Tables</span>
                        </a>
                        <ul class="collapse list-unstyled pl-4 w-100" id="tables">
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./table_basic.html"><span class="ml-1 item-text">Basic Tables</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./table_advanced.html"><span class="ml-1 item-text">Advanced Tables</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./table_datatables.html"><span class="ml-1 item-text">Data Tables</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#charts" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                            <i class="fe fe-pie-chart fe-16"></i>
                            <span class="ml-3 item-text">Charts</span>
                        </a>
                        <ul class="collapse list-unstyled pl-4 w-100" id="charts">
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./chart-inline.html"><span class="ml-1 item-text">Inline Chart</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./chart-chartjs.html"><span class="ml-1 item-text">Chartjs</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./chart-apexcharts.html"><span class="ml-1 item-text">ApexCharts</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./datamaps.html"><span class="ml-1 item-text">Datamaps</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <p class="text-muted nav-heading mt-4 mb-1">
                    <span>Apps</span>
                </p>
                <ul class="navbar-nav flex-fill w-100 mb-2">
                    <li class="nav-item w-100">
                        <a class="nav-link" href="calendar.html">
                            <i class="fe fe-calendar fe-16"></i>
                            <span class="ml-3 item-text">Calendar</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#contact" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                            <i class="fe fe-book fe-16"></i>
                            <span class="ml-3 item-text">Contacts</span>
                        </a>
                        <ul class="collapse list-unstyled pl-4 w-100" id="contact">
                            <a class="nav-link pl-3" href="./contacts-list.html"><span class="ml-1">Contact List</span></a>
                            <a class="nav-link pl-3" href="./contacts-grid.html"><span class="ml-1">Contact Grid</span></a>
                            <a class="nav-link pl-3" href="./contacts-new.html"><span class="ml-1">New Contact</span></a>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#profile" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                            <i class="fe fe-user fe-16"></i>
                            <span class="ml-3 item-text">Profile</span>
                        </a>
                        <ul class="collapse list-unstyled pl-4 w-100" id="profile">
                            <a class="nav-link pl-3" href="./profile.html"><span class="ml-1">Overview</span></a>
                            <a class="nav-link pl-3" href="./profile-settings.html"><span class="ml-1">Settings</span></a>
                            <a class="nav-link pl-3" href="./profile-security.html"><span class="ml-1">Security</span></a>
                            <a class="nav-link pl-3" href="./profile-notification.html"><span class="ml-1">Notifications</span></a>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#fileman" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                            <i class="fe fe-folder fe-16"></i>
                            <span class="ml-3 item-text">File Manager</span>
                        </a>
                        <ul class="collapse list-unstyled pl-4 w-100" id="fileman">
                            <a class="nav-link pl-3" href="./files-list.html"><span class="ml-1">Files List</span></a>
                            <a class="nav-link pl-3" href="./files-grid.html"><span class="ml-1">Files Grid</span></a>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#support" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                            <i class="fe fe-compass fe-16"></i>
                            <span class="ml-3 item-text">Help Desk</span>
                        </a>
                        <ul class="collapse list-unstyled pl-4 w-100" id="support">
                            <a class="nav-link pl-3" href="./support-center.html"><span class="ml-1">Home</span></a>
                            <a class="nav-link pl-3" href="./support-tickets.html"><span class="ml-1">Tickets</span></a>
                            <a class="nav-link pl-3" href="./support-ticket-detail.html"><span class="ml-1">Ticket Detail</span></a>
                            <a class="nav-link pl-3" href="./support-faqs.html"><span class="ml-1">FAQs</span></a>
                        </ul>
                    </li>
                </ul>
                <p class="text-muted nav-heading mt-4 mb-1">
                    <span>Extra</span>
                </p>
                <ul class="navbar-nav flex-fill w-100 mb-2">
                    <li class="nav-item dropdown">
                        <a href="#pages" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                            <i class="fe fe-file fe-16"></i>
                            <span class="ml-3 item-text">Pages</span>
                        </a>
                        <ul class="collapse list-unstyled pl-4 w-100 w-100" id="pages">
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./page-orders.html">
                                    <span class="ml-1 item-text">Orders</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./page-timeline.html">
                                    <span class="ml-1 item-text">Timeline</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./page-invoice.html">
                                    <span class="ml-1 item-text">Invoice</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./page-404.html">
                                    <span class="ml-1 item-text">Page 404</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./page-500.html">
                                    <span class="ml-1 item-text">Page 500</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./page-blank.html">
                                    <span class="ml-1 item-text">Blank</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#auth" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                            <i class="fe fe-shield fe-16"></i>
                            <span class="ml-3 item-text">Authentication</span>
                        </a>
                        <ul class="collapse list-unstyled pl-4 w-100" id="auth">
                            <a class="nav-link pl-3" href="./auth-login.html"><span class="ml-1">Login 1</span></a>
                            <a class="nav-link pl-3" href="./auth-login-half.html"><span class="ml-1">Login 2</span></a>
                            <a class="nav-link pl-3" href="./auth-register.html"><span class="ml-1">Register</span></a>
                            <a class="nav-link pl-3" href="./auth-resetpw.html"><span class="ml-1">Reset Password</span></a>
                            <a class="nav-link pl-3" href="./auth-confirm.html"><span class="ml-1">Confirm Password</span></a>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#layouts" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                            <i class="fe fe-layout fe-16"></i>
                            <span class="ml-3 item-text">Layout</span>
                        </a>
                        <ul class="collapse list-unstyled pl-4 w-100" id="layouts">
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="~/Content/tinydash/light/index.html"><span class="ml-1 item-text">Default</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./index-horizontal.html"><span class="ml-1 item-text">Top Navigation</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="./index-boxed.html"><span class="ml-1 item-text">Boxed</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <p class="text-muted nav-heading mt-4 mb-1">
                    <span>Documentation</span>
                </p>
                <ul class="navbar-nav flex-fill w-100 mb-2">
                    <li class="nav-item w-100">
                        <a class="nav-link" href="../docs/index.html">
                            <i class="fe fe-help-circle fe-16"></i>
                            <span class="ml-3 item-text">Getting Start</span>
                        </a>
                    </li>
                </ul>
                <div class="btn-box w-100 mt-4 mb-1">
                    <button type="button" class="btn mb-2 btn-primary btn-lg btn-block">
                        <i class="fe fe-shopping-cart fe-12 mr-2"></i><span class="small">Buy now</span>
                    </button>
                </div>
            </nav>
        </aside>
        <main role="main" class="main-content">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    @RenderBody()
                </div> <!-- .row -->
            </div> <!-- .container-fluid -->
            <div class="modal fade modal-notif modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="defaultModalLabel">Notifications</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="list-group list-group-flush my-n3">
                                <div class="list-group-item bg-transparent">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <span class="fe fe-box fe-24"></span>
                                        </div>
                                        <div class="col">
                                            <small><strong>Package has uploaded successfull</strong></small>
                                            <div class="my-0 text-muted small">Package is zipped and uploaded</div>
                                            <small class="badge badge-pill badge-light text-muted">1m ago</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-group-item bg-transparent">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <span class="fe fe-download fe-24"></span>
                                        </div>
                                        <div class="col">
                                            <small><strong>Widgets are updated successfull</strong></small>
                                            <div class="my-0 text-muted small">Just create new layout Index, form, table</div>
                                            <small class="badge badge-pill badge-light text-muted">2m ago</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-group-item bg-transparent">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <span class="fe fe-inbox fe-24"></span>
                                        </div>
                                        <div class="col">
                                            <small><strong>Notifications have been sent</strong></small>
                                            <div class="my-0 text-muted small">Fusce dapibus, tellus ac cursus commodo</div>
                                            <small class="badge badge-pill badge-light text-muted">30m ago</small>
                                        </div>
                                    </div> <!-- / .row -->
                                </div>
                                <div class="list-group-item bg-transparent">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <span class="fe fe-link fe-24"></span>
                                        </div>
                                        <div class="col">
                                            <small><strong>Link was attached to menu</strong></small>
                                            <div class="my-0 text-muted small">New layout has been attached to the menu</div>
                                            <small class="badge badge-pill badge-light text-muted">1h ago</small>
                                        </div>
                                    </div>
                                </div> <!-- / .row -->
                            </div> <!-- / .list-group -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Clear All</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade modal-shortcut modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="defaultModalLabel">Shortcuts</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body px-5">
                            <div class="row align-items-center">
                                <div class="col-6 text-center">
                                    <div class="squircle bg-success justify-content-center">
                                        <i class="fe fe-cpu fe-32 align-self-center text-white"></i>
                                    </div>
                                    <p>Control area</p>
                                </div>
                                <div class="col-6 text-center">
                                    <div class="squircle bg-primary justify-content-center">
                                        <i class="fe fe-activity fe-32 align-self-center text-white"></i>
                                    </div>
                                    <p>Activity</p>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-6 text-center">
                                    <div class="squircle bg-primary justify-content-center">
                                        <i class="fe fe-droplet fe-32 align-self-center text-white"></i>
                                    </div>
                                    <p>Droplet</p>
                                </div>
                                <div class="col-6 text-center">
                                    <div class="squircle bg-primary justify-content-center">
                                        <i class="fe fe-upload-cloud fe-32 align-self-center text-white"></i>
                                    </div>
                                    <p>Upload</p>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-6 text-center">
                                    <div class="squircle bg-primary justify-content-center">
                                        <i class="fe fe-users fe-32 align-self-center text-white"></i>
                                    </div>
                                    <p>Users</p>
                                </div>
                                <div class="col-6 text-center">
                                    <div class="squircle bg-primary justify-content-center">
                                        <i class="fe fe-settings fe-32 align-self-center text-white"></i>
                                    </div>
                                    <p>Settings</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main> <!-- main -->
    </div> <!-- .wrapper -->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/myApp.js"></script>

    <script src="~/Content/tinydash/light/js/jquery.min.js"></script>
    <script src="~/Content/tinydash/light/js/popper.min.js"></script>
    <script src="~/Content/tinydash/light/js/moment.min.js"></script>
    <script src="~/Content/tinydash/light/js/bootstrap.min.js"></script>
    <script src="~/Content/tinydash/light/js/simplebar.min.js"></script>
    <script src="~/Content/tinydash/light/js/daterangepicker.js"></script>
    <script src="~/Content/tinydash/light/js/jquery.stickOnScroll.js"></script>
    <script src="~/Content/tinydash/light/js/tinycolor-min.js"></script>
    <script src="~/Content/tinydash/light/js/config.js"></script>
    <script src="~/Content/tinydash/light/js/apps.js"></script>
    <script src="~/Scripts/SweetAlert2/sweetalert2.min.js"></script>
</body>
@RenderSection("scripts", required: false)
</html>
