<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\MinimalAPIFx.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
		<security>
			<requestFiltering allowDoubleEscaping="false">
				<requestLimits maxQueryString="20480" />
				<!--<requestLimits maxAllowedContentLength="1073741824" />-->
			</requestFiltering>
		</security>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: F094675D-6AD2-4043-B04C-4B7B367BEC78-->