
@{
    ViewBag.Title = "SignText";
}

<style>
    .dz-remove {
        display: inline-block !important;
        width: 1.5em;
        height: 1.5em;
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 1000;
        font-size: 1.5em !important;
        line-height: 1em;
        text-align: center;
        font-weight: bold;
        border: 1px solid gray !important;
        border-radius: 1.5em;
        color: red;
        background-color: white;
        opacity: .5;
        padding-top: 3px;
    }

        .dz-remove:hover {
            text-decoration: none !important;
            opacity: 1;
        }

</style>

<div class="col-12" ng-app="" ng-controller="SignTextController" ng-init="onLoad();">
    <h2 class="page-title">Sign Text</h2>
    <p class="text-muted">Let's generate signatures to your texts</p>

    <div class="row align-items-stretch mb-2">
        <div class="col-md-4 d-flex">
            <div class="card shadow mb-4 w-100">
                <div class="card-header">
                    <strong class="card-title">Attach Private Key File</strong>
                </div>
                <div class="card-body">
                    <form action="/" class="dropzone bg-light rounded-lg" id="myDropzone">
                        <div class="dz-message needsclick">
                            <div class="circle circle-lg bg-primary" ng-class="{ 'bg-warning': userKey.pasteEnabled }">
                                <i class="fe fe-upload fe-24 text-white" ng-class="{ 'fe-x': userKey.pasteEnabled }"></i>
                            </div>
                            <h5 class="text-muted mt-4">{{ userKey.dropzoneText }}</h5>
                        </div>
                    </form>
                </div> <!-- /.card-body -->
            </div> <!-- /.card -->
        </div>
        <div class="col-md-8 d-flex">
            <div class="card shadow mb-4 w-100">
                <div class="card-header">
                    <strong class="card-title">Private Key Content</strong>
                    <div class="custom-control custom-switch float-right">
                        <input type="checkbox" class="custom-control-input" id="c1" ng-model="userKey.pasteEnabled" ng-change="toggleDropzone(userKey)">
                        <label class="custom-control-label" for="c1">Paste</label>
                    </div>
                </div>
                <div class="card-body">
                    <form class="needs-validation" novalidate="">
                        <div class="form-group mb-3">
                            <textarea class="form-control" id="validationTextarea" ng-disabled="!userKey.pasteEnabled" placeholder="Empty ..." rows="9" ng-model="userKey.privateKey"></textarea>
                            <div class="invalid-feedback"> Please enter a message in the textarea. </div>
                        </div>
                    </form>
                </div> <!-- /.card-body -->
            </div> <!-- /.card -->
        </div>

        <div class="col-md-6 d-flex">
            <div class="card shadow mb-4 w-100">
                <div class="card-header">
                    <strong class="card-title">Message</strong>
                </div>
                <div class="card-body">
                    <form class="needs-validation" novalidate="">
                        <div class="form-group mb-3">
                            <textarea class="form-control" id="validationTextarea" placeholder="Write a text to sign" rows="10" ng-model="userKey.dataMessage"></textarea>
                            <div class="invalid-feedback"> Please enter a message in the textarea. </div>
                        </div>
                    </form>
                </div> <!-- /.card-body -->
            </div> <!-- /.card -->
        </div>
        <div class="col-md-6 d-flex">
            <div class="card shadow mb-4 w-100">
                <div class="card-header">
                    <strong class="card-title">Signature</strong>
                </div>
                <div class="card-body">
                    <form class="needs-validation" novalidate="">
                        <div class="form-group mb-3">
                            <textarea class="form-control" id="validationTextarea" ng-disabled="true" placeholder="Empty ..." rows="10" ng-model="userKey.dataSignature"></textarea>
                            <div class="invalid-feedback"> Please enter a message in the textarea. </div>
                        </div>
                    </form>
                </div> <!-- /.card-body -->
            </div> <!-- /.card -->
        </div>
    </div>



</div> <!-- .col-12 -->

@section scripts{
    <script src="~/Scripts/AngularJS/Signature/SignText.js"></script>
}
